In [1]:
library("tidyverse")
library("readxl")

── Attaching packages ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
p1 <- read_excel("problem1-oxygenpurity.xls")

In [3]:
p1

   purity hydro
1  86.91  1.02
2  89.85  1.11
3  90.28  1.43
4  86.34  1.11
5  92.58  1.01
6  87.33  0.95
7  86.29  1.11
8  91.86  0.87
9  95.61  1.43
10 89.86  1.02
11 96.73  1.46
12 99.42  1.55
13 98.66  1.55
14 96.07  1.55
15 93.65  1.40
16 87.31  1.15
17 95.00  1.01
18 96.85  0.99
19 85.20  0.95
20 90.56  0.98

In [4]:
fit <- lm(purity ~ hydro, data=p1)

In [5]:
summary(fit)

Call:
lm(formula = purity ~ hydro, data = p1)

Residuals:
    Min      1Q  Median      3Q     Max
-4.6724 -3.2113 -0.0626  2.5783  7.3037

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   77.863      4.199  18.544 3.54e-13 ***
hydro         11.801      3.485   3.386  0.00329 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.597 on 18 degrees of freedom
Multiple R-squared:  0.3891,	Adjusted R-squared:  0.3552
F-statistic: 11.47 on 1 and 18 DF,  p-value: 0.003291

In [6]:
summary(fit)$r.squared

[1] 0.3891224